/* #root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
} */

body {
    padding-top: 0px;
    /* ヘッダーの高さに応じて調整 */
}

.header {
    left: 0; /* 画面の左端から */
    right: 0; /* 画面の右端まで */
    display: flex;
    background-color: #8B4513;
    /* 茶色の背景 */
    justify-content: space-between;
    /* ヘッダーの左右のコンテンツを均等に配置 */
    align-items: center;
    /* コンテンツを垂直方向の中央に配置 */
    padding: 6px 0px;
    /* 内側の余白 */
    position: fixed;
    height: 7.5em;
    /* ヘッダーを固定位置に */
    top: 0;
    /* ページの最上部から0pxの位置に */
    width: 100%;
    /* 幅を画面全体に */
    z-index: 1000;
    /* 他の要素より前面に */
    /* display: flex; */
}


#Logo {

    /* ロゴをヘッダー内で自由に動かせるようにする */
    top: 0;
    /* ヘッダーの上端からの位置 */
    left: 0;
    /* ヘッダーの左端からの位置 */
    width: 200px;
    height: 133px;
    flex-shrink: 0;
}

.button-container {
    width: 30%;
    display: flex;
    /* ボタン間の間隔を均等に */
    align-items: center;
    /* ボタンを垂直方向の中央に */
    justify-content: flex-end;
    /* ボタンを水平方向の中央に */
    margin-left: auto;
    /* 左側の要素から余白を取って右に配置 */
    padding: 0 5% 0 5%;;
}

#taskButton {
    margin: 0%;
    width: 30%;
    height: 2.5em;
    top: 0;
    font-size: 1.3em;
    color: #000;
    background-color: #F9EAE1;
    border-radius: 20px 20px;
}

#fileButton {
    margin: 0%;
    width: 30%;
    height: 2.5em;
    font-size: 1.3em;
    color: #000;
    background-color: #F9EAE1;
    border-radius: 20px 20px;
}

#calenderButton {
    margin: 0%;
    width: 30%;
    height: 2.5em;
    font-size: 1.3em;
    color: #000;
    background-color: #F9EAE1;
    border-radius: 20px 20px;
}



.main-content > p {
    padding-top: 5%;
    margin-bottom: 3%;
    font-size: 2em;
}

.post {
    display: flex;
    margin: 3%;
}

.room {
    width: 250px;
    height: 350px;
}

.roomInfo {
    border: 1px solid #000;
    border-radius: 20px 20px;
    box-sizing: border-box;
    box-shadow: 0 5px 5px gray;
    margin: 5%;
}

.title {
    margin-bottom: 2em;
    border-bottom: 1px solid #000;
}

.subject, .place, .purpose, .comment {
    text-align: left;
    padding-left: 20%;
}

.createAt {
    padding-right: 5%;
    color: gray;
    font-size: 0.7em;
    text-align: right;
}

.joinButton {
    width: 5em;
    height: 2.5em;
    border-radius: 15px 15px;
    background-color: red;
    color: #FFF;
    font-size: 1.2em;
    font-weight: bold;
}

#createButton {
    margin-top: 5%;
    width: 5em;
    height: 2.5em;
    border-radius: 15px 15px;
    background-color: #000;
    color: #FFF;
    font-size: 1.2em;
    font-weight: bold;
}